@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

.screen {
  @apply h-screen w-screen overflow-auto;
}

.full {
  @apply w-full h-full;
}

.center {
  @apply flex justify-center items-center;
}

.head {
  @apply font-extrabold leading-[140%] text-xl text-[rgb(33,33,33)];
}
